@{
    ViewBag.Title = "Home Page";
}
<div id="indexPage" style="width: 100%; display: inline-block;">
    <div style="float: left; width: 50%; display: inline-block;">
        <div>
            <h2>
                A Simple Map Sample</h2>
            <p>
                <a href="/Demo/Initial" id="" class="button">Sample Map</a>
            </p>
        </div>
        <div>
            <h2>
                Custom Marker Tooltips Sample</h2>
            <p>
                <a href="/Demo/CustomMarkerTooltip" id="" class="button">Custom Marker Tooltips</a>
            </p>
        </div>
        <div>
            <h2>
                Load GeoJSON Sample</h2>
            <p>
                <a href="/Demo/LoadGeoJSON" id="" class="button">Load GeoJSON</a>
            </p>
        </div>
    </div>
    <div style="float: right; width: 50%; display: inline-block;">
        <div>
            <h2>
                Final Sample</h2>
            <p>
                <a href="/Demo/Final" id="" class="button">Final</a>
            </p>
        </div>
        <div>
            <h2>
                Final Custom Sample</h2>
            <p>
                <a href="/Demo/FinalCustom" id="" class="button">Final Custom</a>
            </p>
        </div>
        <div>
            <h2>
                Sample</h2>
            <p>
                <a href="#" id="" class="button">Click</a>
            </p>
        </div>
    </div>
</div>
